 body {
   background-color: #f4f8fb;
 }

 /* Hero Section */
 .hero-section {
   position: relative;
   /* Use your image path here */
   background-size: cover;
   background-position: center;
   height: 500px;
   /* Adjust height as needed */
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   text-align: center;
 }


 .hero-overlay {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 1;
 }

 .white-cover {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.5);
   z-index: 2;
 }

 .hero-text {
   position: relative;
   z-index: 3;
   color: #003B73;
   text-align: center;
 }


 .hero-text h1 {
   font-size: 3rem;
   font-weight: bold;
 }

 .section-title {
   text-align: center;
   margin: 50px 0 30px;
   font-size: 2.5rem;
   font-weight: bold;
   color: #004085;
 }

 .facility-card {
   border: none;
   border-radius: 20px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease;
   background-color: #ffffff;
   height: 100%;
 }

 .facility-card:hover {
   transform: translateY(-5px);
 }

 .facility-img {
   height: 220px;
   object-fit: cover;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
 }

 .card-body h5 {
   color: #0d6efd;
 }